* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edf4f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 10px 190px 10px 190px;
    gap: 20px;
    flex-wrap: nowrap;
}

.caixacelperfil {
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.celperfil {
    width: 200%;
    height: 620px;
    width: 480px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.fotoinsta {
    width: 100%;
    width: 263px;
    position: absolute;
    top: 12%;
    left: 64%;
    transform: translate(-50%, -10%);
    max-width: 600px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    height: 530px;
    top:79px;
    flex-wrap: nowrap;
}

.fotoinsta.troca-imagem {
    opacity: 0;
}

.caixaforms {
    width: 100%;
    max-width: 600px;
    width: 350px;
    border: 1px solid #ebe2e2;
    background-color: #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 420px ;
    position: absolute;
    transform: translateY(-60px);
    left: 680px;
    flex-wrap: nowrap;
    top: 77px;
}

.logomarca {
    width: 60%;
    max-width: 200px;
    margin-bottom: 20px;
}

input {
    width: 250px; /* Aumenta a largura */
    height: 250px; /* Aumenta a altura */
    padding: 9px;
    margin: 8px 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
    position: relative;
}


button {
    width: 100%;
    width: 250px;
    height: 56px;
    padding: 9px;
    
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.linha-ou {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #8e8e8e;
    font-size: 12px;
}

.linha-ou::before,
.linha-ou::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ebe2e2;
    margin: 0 10px;
    
}

.login-face,
.Esqueceu-senha {
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
    color: #385185;
    text-decoration: none;
}

.novo-cadastro {
    width: 100%;
    max-width: 600px;
    height: 60px 20px 60px 20px;
    text-align: center;
    margin-top: 0px;
    position: relative;
    flex-wrap: nowrap;
}

.link-cadastro {
    width: 100%;
    max-width: 350px;
    width: 400px;
    height: 60px;
    margin: 20px ;
    text-align: center;
    border: 1px solid #ebe2e2;
    padding: 20px;
    background-color: #ffffff;
    font-weight: bold;
    color: #0095f6;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 125px;
    flex-wrap: nowrap;
    transform: translateY(-27px);
}

.obterapp {
    width: 100%;
    max-width: 350px;
    text-align: center;
    top: 200px;
    position: relative;
    right: 27%;
    flex-wrap: nowrap;
}

.gplay-appstory {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 10px;
    position: absolute;
     flex-wrap: nowrap;
}

.gplay,
.appstory {
    width: 100%;
    max-width: 300px;
    left: 39%;
    height: 35px;
    top: 235px;
    justify-content: center;
    position: relative;
}

/* Responsividade */
@media screen and (max-width: 1238px) {
    body {
        display: flex;
        flex-wrap: nowrap; 
    }
     }

.obterapp {
    width: 100%;
    max-width: 350px;
    text-align: center;
    top: 200px;
    position: relative;
    right: 180px;
    flex-wrap: nowrap;
   }  

     .gplay,
     .appstory {
             max-width: 100%;
             left: 73%;
             height: 35px;
             top: 235px;
             justify-content: center;
             position: relative;
             flex-wrap: nowrap;
         }









     @media screen and (max-width: 876px) {
        .caixacelperfil {
            display: none;
        }
    }
    
     
    
    
    

   
 
    @media screen and (max-width: 700px){
    .caixaforms {
        width: 100%;
        max-width: 600px;
        width: 300px;
        border: 1px solid #ebe2e2;
        background-color: #ffffff;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 400px ;
        position: absolute;
        transform: translateY(-60px);
        left: 603px;
        flex-wrap: nowrap;

 }
 
 .obterapp {
    width: 100%;
    max-width: 350px;
    text-align: center;
    top: 200px;
    position: relative;
    right: 180px;
    flex-wrap: nowrap;
   }  


    @media screen and (max-width: 700px) {
        body {
            flex-wrap: wrap; /* Quebra linha abaixo de 700px */
        }
    }
}



@media screen and (max-width: 810px) {
    .fotoinsta {
        max-width: 200px;
        flex-wrap: nowrap; 
    }

    .logomarca {
        width: 80%;
    }

    button {
        height: 32px;
    }

}
